body {
    padding: 0;
    margin: 0;
    font-family: "TTNorms", sans-serif;
}

@font-face {
    font-family: "TTNorms";
    src: url("./fonts/TTNorms-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "TTNorms";
    src: url("./fonts/TTNorms-Medium.ttf");
    font-weight: 500;
}

.content_mobile {
    display: none;
}

@media (max-width: 768px) {
    .content_desktop {
        display: none;
    }
    .content_mobile {
        display: block;
    }
}

:root {
    --gray: #1c1f22;
}

.visible_content {
    position: absolute;
    left: -1000px;
    overflow: hidden;
    display: none;
}

[class*="copyrights-pane"] {
    display: none !important;
}

/*MOBILE STYLES*/

.button_mobile {
    background-color: #f9cd00;
    color: #0c0505;
    border: none;
    padding: 18px 30px;
    cursor: pointer;
}

.content_mobile {
    background-image: url("./img/mobile/FSC.webp");
    min-height: 100vh;
    background-size: cover;
}

.mobile_menu {
    display: flex;
    justify-content: space-around;
    height: 64px;
    border-radius: 32px;
    background-color: #000000;
    width: calc(100% - 40px);
    position: fixed;
    top: calc(100vh - 84px);
    left: 20px;
    z-index: 10;
}

.mobile_menu_item {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 12px;
    width: 24px;
    aspect-ratio: 1 / 1;
}

.home {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    min-height: 100vh;
    align-items: flex-start;
}
.home header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 28px;
}
.home .logo_mobile {
    margin-bottom: -20px;
}
.home p {
    font-size: 16px;
    margin: 0;
    color: #ffffff;
}

.home aside {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    bottom: 130px;
    right: 0px;
    padding: 12px;
    background-color: #ffffff40;
    border-radius: 12px;
    border-radius: 0;
}
.home aside img {
    width: 24px;
    height: 24px;
}

.home .eco {
    float: right;
}

.home .eco_text {
    margin-left: 40px;
    margin-bottom: 20px;
}

.medoviki_list {
    background-image: url(./img/mobile/medovikiBackground.webp);
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 16px;
    column-gap: 8px;
    padding-bottom: 94px;
}

.medoviki_list header {
    grid-column-start: 1;
    grid-column-end: 3;
}

.medoviki_list h2 {
    margin: 0;
    color: #a85101;
    font-size: 36px;
    line-height: auto;
    font-weight: 400;
}

.medoviki_list .medovik p {
    margin: 0;
    padding: 0;
}
.medoviki_list .medovik {
    position: relative;
    color: #ffffff;
    font-size: 16px;
    line-height: auto;
    font-weight: 400;
}

.medoviki_list .medovik img {
    width: 100%;
    height: auto;
}
.medovik .medovik_info {
    padding: 8px;
    display: grid;
    row-gap: 12px;
}
.medovik .medovik_info div {
    display: flex;
    justify-content: space-between;
}
.medovik .heart_button {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
}

.your_choice {
    background-color: #1c1f22;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.your_choice h2 {
    margin: 0;
    color: #ffffff;
    font-size: 36px;
    line-height: auto;
    font-weight: 400;
}

.bucket {
    background-color: #1c1f22;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.bucket h2 {
    margin: 0;
    color: #ffffff;
    font-size: 36px;
    line-height: auto;
    font-weight: 400;
}

.mobile_contacts {
    background-color: #1c1f22;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.mobile_contacts h2 {
    margin: 0;
    color: #a85101;
    font-size: 36px;
    line-height: auto;
    font-weight: 400;
}

/* HEADER */

.header {
    background-color: #0c0505;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 14px 25px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header_wrapper .logo {
    width: 56px;
    aspect-ratio: 1 / 1;
}

.header_wrapper .logo img {
    width: 100%;
}

.header_wrapper .menu ul {
    display: flex;
    gap: 36px;
    list-style: none;
}

.header_wrapper .menu ul li a {
    color: #ffffff;
    text-decoration: none;
}

.order {
    border: none;
    background-color: #f9cd00;
    padding: 12px 32px;
    font-family: "TTNorms", sans-serif;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}

.order:hover {
    background-color: #f9d426;
}

.hamburger_menu {
    display: none;
}

@media (max-width: 780px) {
    .header {
        padding: 14px 24px;
    }

    .header .order {
        display: none;
    }

    .header .menu {
        position: fixed;
        right: 150vw;
        top: 64px;
        transition: right 0.3s ease;
        background-color: #0c0505;
    }

    .header_wrapper .logo {
        width: 35px;
        aspect-ratio: 1 / 1;
    }

    .header_wrapper {
        justify-content: center;
    }

    .hamburger_menu {
        background-color: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 3px;
        cursor: pointer;
        position: absolute;
        left: 24px;
    }

    .hamburger_menu::before,
    .hamburger_menu::after {
        content: "";
    }

    .hamburger_menu span,
    .hamburger_menu::before,
    .hamburger_menu::after {
        background-color: #ffffff;
        width: 18px;
        height: 2px;
        border-radius: 1px;
    }

    .header_wrapper .menu.open {
        right: 0;
        width: 100vw;
        height: calc(100vh - 60px);
    }

    .header_wrapper .menu ul {
        flex-direction: column;
    }
}

/* FIRST SCREEN */

.first_screen {
    background-color: var(--gray);
    color: #ffffff;
    background-image: url(./img/first-screen.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    padding-left: 42px;
}

.first_screen .content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
}

.first_screen .content .title {
    font-size: 80px;
    line-height: 95px;
}

.first_screen .content .text {
    font-size: 16px;
    line-height: 20px;
    max-width: 512px;
}

@media (max-width: 1350px) {
    .first_screen {
        align-items: flex-start;
        padding-top: 66px;
    }
}

@media (max-width: 780px) {
    .first_screen .content .title {
        font-size: 36px;
        line-height: 42px;
    }

    .first_screen .content .text {
        font-size: 14px;
    }
}

/* MENU */

section.menu {
    height: calc(100vh - 80px);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--gray);
    background-position: bottom;
    padding-top: 80px;
}

.menu_wrapper {
    width: calc(100vw - 50px);
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    height: calc(100vh - 240px);
    background-image: url("./img/MenuLine.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.menu_wrapper .menu_item {
    border: none;
    background-color: #ffffff;
    padding: 24px 40px;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    line-height: 19px;
    font-family: "TTNorms", sans-serif;
    position: absolute;
    width: max-content;
}

.menu_wrapper .menu_item.active {
    color: #ffffff;
}

.menu_wrapper .arrow {
    border: none;
    background-color: transparent;
    display: none;
}

.menu_item.coffee {
    top: 630px;
    right: 0;
}

.menu_item.coffee:hover {
    background-color: #fae9d4;
}

.menu_item.coffee.active {
    background-color: #c1894a;
}

.menu_item.salty {
    right: 0;
    top: 525px;
}

.menu_item.salty:hover {
    background-color: #fff3da;
}

.menu_item.salty.active {
    background-color: #ffdf97;
}

.menu_item.lemon {
    right: 75px;
    top: 400px;
}

.menu_item.lemon:hover {
    background-color: #fff7d3;
}

.menu_item.lemon.active {
    background-color: #f9d426;
}

.menu_item.nut {
    right: 135px;
    top: 270px;
}

.menu_item.nut:hover {
    background-color: #f9e9ce;
}

.menu_item.nut.active {
    background-color: #704e12;
}

.menu_item.blueberry {
    right: 295px;
    top: 170px;
}

.menu_item.blueberry:hover {
    background-color: #e2ccf6;
}

.menu_item.blueberry.active {
    background-color: #6322a0;
}

.menu_item.cheese {
    top: 80px;
    right: 470px;
}

.menu_item.cheese:hover {
    background-color: #fff3d7;
}

.menu_item.cheese.active {
    background-color: #ffdf97;
}

.menu_item.classic {
    top: 80px;
    left: 520px;
}

.menu_item.classic:hover {
    background-color: #f5dabb;
}

.menu_item.classic.active {
    background-color: #c1894a;
}

.menu_item.coconut {
    top: 170px;
    left: 360px;
}

.menu_item.coconut:hover {
    background-color: #fff6eb;
}

.menu_item.coconut.active {
    background-color: #ffefda;
}

.menu_item.raspberry {
    top: 270px;
    left: 200px;
}

.menu_item.raspberry:hover {
    background-color: #e39dbb;
}

.menu_item.raspberry.active {
    background-color: #a40148;
}

.menu_item.cherry {
    left: 100px;
    top: 400px;
}

.menu_item.cherry:hover {
    background-color: #e6b0ba;
}

.menu_item.cherry.active {
    background-color: #852234;
}

.menu_item.napoleon {
    left: 79px;
    top: 525px;
}

.menu_item.napoleon:hover {
    background-color: #fbe5c7;
}

.menu_item.napoleon.active {
    background-color: #d8a86a;
}

.menu_item.napoleon_salty {
    left: 0;
    top: 630px;
}

.menu_item.napoleon_salty:hover {
    background-color: #f1d2bd;
}

.menu_item.napoleon_salty.active {
    background-color: #834216;
}

@media (max-width: 1440px) {
    .menu_item.cheese {
        right: 400px;
    }
}

@media (max-width: 1370px) {
    .menu_item {
        display: none;
        width: 300px;
    }

    section.menu {
        align-items: flex-start;
    }

    .menu_wrapper {
        align-items: center;
        height: auto;
        gap: 10px;
        background-image: none;
    }

    .menu .menu_wrapper .menu_item.active {
        display: flex;
        position: initial;
        background-color: #ffffff;
        color: #000000;
    }

    .menu_wrapper .arrow {
        display: flex;
        padding: 5px 8px;
        cursor: pointer;
    }

    .menu_wrapper .arrow.right {
        transform: rotate(180deg);
    }
}

/* COFFEE */

section.coffee {
    background-color: var(--gray);
    padding: 180px 0;
}

.coffee_wrapper {
    margin: 0 auto;
    width: calc(100vw - 200px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 118px;
}

.coffee_card {
    display: flex;
    background-color: #ffffff;
    aspect-ratio: 1/1;
    position: relative;
    padding: 22px 35px 101px 32px;
    box-sizing: border-box;
}

.coffee_card .card_content {
    background-color: var(--gray);
    width: 100%;
    height: 100%;
    color: #ffffff;
    padding: 36px 26px 0 26px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.coffee_card .card_content h3 {
    font-size: 60px;
    font-weight: 400;
    line-height: 71px;
    margin: 0;
    margin-bottom: 22px;
}

.coffee_card .card_content p {
    font-size: 16px;
    line-height: 19px;
    margin: 0;
}

.coffee_card .logo {
    position: absolute;
    bottom: 23px;
}

.coffee_image {
    background-image: url("./img/coffee.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 500px;
    position: absolute;
    right: -200px;
    top: -190px;
    z-index: 2;
    transform: rotate(-2deg);
}

.card_bg {
    background-image: url("./img/coffee_cup.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1280px) {
    .coffee_wrapper {
        gap: 60px;
    }

    .coffee_image {
        display: none;
    }

    .coffee_card .card_content {
        gap: 18px;
    }

    .coffee_card .card_content h3 {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 0;
    }

    .coffee_card .card_content p {
        font-size: 14px;
        line-height: 17px;
    }
}

@media (max-width: 1100px) {
    section.coffee {
        padding: 100px 0;
    }

    .coffee_card .logo img {
        width: 40px;
    }

    .coffee_card .logo {
        bottom: 10px;
    }

    .coffee_card {
        padding: 17px 21px 57px 19px;
    }
}

@media (max-width: 970px) {
    section.coffee {
        padding: 32px 0;
    }

    .coffee_wrapper {
        gap: 36px;
        grid-template-columns: 1fr;
        width: 380px;
    }
}

@media (max-width: 450px) {
    .coffee_wrapper {
        width: 350px;
    }

    .coffee_card .card_content {
        padding: 28px 20px 0 20px;
        gap: 14px;
    }

    .coffee_card {
        padding: 15px 19px 57px 17px;
    }
}

/* ABOUT */

.about {
    background-color: var(--gray);
    background-image: url("./img/about-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 110px 0;
}

.about_content {
    background-color: #0c0505;
    color: #ffffff;
    max-width: 780px;
    margin: 0 auto;
    padding: 64px 80px 80px 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.about_content h2 {
    font-size: 60px;
    font-weight: 400;
    line-height: 71px;
    margin: 0;
    text-align: center;
}

.about_card_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 42px;
    column-gap: 52px;
    width: calc(100% - 50px);
    margin: 0 auto;
}

.about_card {
    padding: 24px;
    background-color: #2b2123;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    min-height: 122px;
}

.about_card h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
}

.about_card p {
    font-size: 14px;
    line-height: 17px;
    margin: 0;
}

.about_card img {
    width: 80px;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: -22px;
    right: -16px;
}

@media (max-width: 900px) {
    section.about {
        padding: 65px 0;
    }

    .about_content h2 {
        font-size: 48px;
        line-height: 54px;
    }
}

@media (max-width: 850px) {
    section.about {
        padding: 42px 0;
    }

    .about_content {
        padding: 64px 40px;
    }
}

@media (max-width: 850px) {
    section.about {
        padding: 0;
        background-image: none;
        background-color: #0c0505;
    }

    .about_content {
        padding: 64px 30px;
    }

    .about_content h2 {
        font-size: 32px;
        line-height: 38px;
    }

    .about_card_wrapper {
        grid-template-columns: 260px;
        justify-content: center;
    }
}

/* CONTACTS */

.contacts {
    padding: 75px 80px;
    background-color: #68584e;
    color: #ffffff;
}

.contacts_wrapper {
    display: grid;
    grid-template-columns: 455px auto;
    column-gap: 42px;
}

.contacts_info {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.contacts_address {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.contacts_info h3 {
    margin: 0;
    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
}

.contacts_info p,
.contacts_info a {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
}

.contacts_address .contacts_place {
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.contacts_work_time {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.contacts_work_time .days {
    display: flex;
    gap: 11px;
}

.contacts_work_time .days span {
    display: block;
    width: 14px;
    aspect-ratio: 1 / 1;
    background-color: #ffffff;
    border-radius: 50%;
}

.contacts_work_time .days span.half {
    background: linear-gradient(90deg, #ffffff 50%, transparent 50% 100%);
}

.contacts_work_time .times {
    display: flex;
    gap: 32px;
}

.contacts_phones {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contacts_phones a {
    color: #ffffff;
    text-decoration: none;
}

@media (max-width: 1250px) {
    section.contacts {
        padding: 50px 60px;
    }

    .contacts_info h3 {
        font-size: 48px;
        line-height: 54px;
    }

    .contacts_info p,
    .contacts_info a {
        font-size: 20px;
        line-height: 24px;
    }
}

@media (max-width: 1050px) {
    section.contacts {
        padding: 30px 40px;
    }

    .contacts_wrapper {
        gap: 28px;
    }

    .contacts_info {
        gap: 40px;
    }

    .contacts_address {
        gap: 20px;
    }

    .contacts_work_time {
        gap: 24px;
    }

    .contacts_phones {
        gap: 20px;
    }
}

@media (max-width: 920px) {
    .contacts_wrapper {
        grid-template-columns: 1fr;
    }

    .times {
        flex-direction: column;
    }

    .contacts_info h3 {
        font-size: 28px;
        line-height: 33px;
    }

    .contacts_map {
        height: 300px;
    }
}

/* FOOTER */

.footer {
    padding: 26px;
    background-color: #68584e;
}

.footer_info {
    width: fit-content;
    display: flex;
    gap: 32px;
    margin: 0 auto;
    color: #ffffff;
}

.footer_info p {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
}

@media (max-width: 920px) {
    .footer_info {
        gap: 24px;
    }

    .footer_info p {
        margin: 0;
        font-size: 14px;
        line-height: 17px;
    }
}

/* MODAL */

.modal_overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000004f;
    z-index: 3;
}

.modal_overlay.open {
    display: block;
}

.modal {
    width: 900px;
    aspect-ratio: 2 / 1;
    position: absolute;
    top: calc((100vh - 450px) / 2);
    left: calc((100vw - 900px) / 2);
    background-color: #ffffff;
    background-image: url(./img/form_background.png);
    background-repeat: no-repeat;
    display: none;
    justify-content: flex-end;
    padding: 0 54px;
    box-sizing: border-box;
}

.modal.open {
    display: flex;
}

.modal_form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 56px;
}

.modal_form h2,
.modal_form p {
    margin: 0;
}

.modal_form h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
}

.modal_form p {
    font-size: 16px;
    margin-top: 32px;
    margin-bottom: 18px;
}

.modal_form input {
    font-size: 14px;
    line-height: 17px;
    padding: 12px 16px;
    border: #9c9c9c 1px solid;
    border-radius: 5px;
    min-width: 400px;
}

.modal_order {
    min-width: 430px;
    margin-top: 16px;
}

.status_overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #0000004f;
    display: none;
    z-index: 4;
}

.status_request {
    display: none;
    width: 170px;
    aspect-ratio: 1 / 1;
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: calc(50vh - 85px);
    left: calc(50vw - 85px);
    justify-content: center;
    align-items: center;
}

.status_request p {
    padding: 0;
    margin: 0;
}

.status_overlay.open .status_request,
.status_overlay.open {
    display: flex;
}

.status_request .request {
    display: none;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.status_request.req .request {
    display: flex;
}

.status_request .request .spin {
    width: 44px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px solid #f0ac15;
    border-bottom-color: transparent;
    animation: spinner 2s infinite linear;
}

.status_request .success {
    display: none;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.status_request.suc .success {
    display: flex;
}

.status_request .failure {
    display: none;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.status_request.err .failure {
    display: flex;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 940px) {
    .modal {
        width: 700px;
        aspect-ratio: initial;
        height: 400px;
        left: calc((100vw - 700px) / 2);
        top: calc((100vh - 400px) / 2);
    }

    .modal_form {
        max-width: 400px;
        padding-top: 40px;
    }

    .modal_order {
        margin-top: 8px;
    }
}

@media (max-width: 720px) {
    .modal {
        background-image: none;
        justify-content: center;
        width: 330px;
        aspect-ratio: 1 / 1;
        left: calc((100vw - 330px) / 2);
        top: calc((100vh - 330px) / 2);
    }

    .modal_form {
        width: 100%;
        padding-top: 32px;
        gap: 24px;
        align-items: flex-start;
    }

    .modal_order {
        width: 100%;
        margin-top: 0;
        min-width: auto;
    }

    .modal_form h2 {
        font-size: 20px;
        line-height: 24px;
    }

    .modal_form p {
        margin: 0;
        font-size: 14px;
        line-height: 17px;
    }

    .modal_form input {
        min-width: auto;
        width: 100%;
        box-sizing: border-box;
    }
}
